{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css')}}">
<script>
  submitMail = function() {
    var email = document.getElementById("email").value;
    var isPatient = document.getElementById("isPatient").checked;
    fetch("/register", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        email: email,
        isPatient: isPatient
      })
    }).then(res => {
      if (isPatient) {
        window.location.href = "/login_patient";
      } else {
        window.location.href = "/login_doctor";
      }
    })
  }
</script>
{% endblock %}

{% block body %}

<div id="regbox">
  <h1> Please enter your gmail:</h1>
  <p> Your authorization key(s) will be sent to you shortly after. </p>
  <form>
    <input type="text" id="email" name="email" placeholder="Email"value=""><br>
    <input type="checkbox" id="isPatient" name="isPatient"> 
    <label for="isPatient"> Are you a patient? </label><br>
  </form> 
  <button onclick="submitMail()"> Submit </button>
</div>

{% endblock %}